
*{
    font-family: Montserrat;
}

.Header-Container{
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-wrap: wrap;
}

.brand-name{
    padding-left: 10px;
    align-content: center;
    font-weight: 700;
    font-size: 15px;
}

.logo img{
    align-content: center;
    width: 60px;
    height: 60px;
    padding-left: 10px;
    padding-top: 15px;
} 

.nav-items >ul> li img{
    width: 35px;
}
.nav-items >ul{
        display: flex;
        list-style-type: none;
        align-items: center;
        padding-right: 10px;
        font-weight: 600;
}

.nav-items >ul>li{
    padding: 10px;

}

.Search{

    padding-top: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon img{
    width: 40px;
}

.search-box {
    width: 200px;
    height: 30px;
    display: flex;
    padding-left: 10px;
    padding-bottom: 3px;
    align-items: center;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}

.ResturantContainer{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.resCard{
    border: 1px solid black;
    border-radius: 25px;
    width: 300px;
    padding: 25px;
    margin: 20px;
}

.resImg{
    width: 200px;
}

.resCard:hover{
    border : 3px solid black;
    cursor: pointer;
}

.footer{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 3px solid black;
}

.name:hover{
    cursor: pointer;

}